* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

:root {
  --white: #ffffff;
  --lightgray: #efefef;
  --gray: #d3d3d3;
  --darkgray: #a9a9a9;
}

html {
  background-color: var(--lightgray);
}

.container {
  background-color: var(--white);
  box-shadow: 2px 3px var(--gray);
  height: 80vh;
  width: 95%;
  max-width: 700px;
  margin: 10vh auto;
  border: 1px 2px solid var(--lightgray);
  border-radius: 1rem;
  overflow: scroll;
}

.search {
  padding: 0 5px;
}

#name-input,
#tag-input {
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--darkgray);
  height: 3rem;
  padding: 10px 5px 5px;
  font-size: 1rem;
}

.student {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
  width: 100%;
}
.student img {
  border: 1px solid var(--lightgray);
  border-radius: 50%;
  margin: 1rem auto auto;
  padding: 5px;
  width: 80%;
  max-width: 350px;
  max-height: 350px;
}
.student h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 38px;
}
.student aside {
  padding: 1rem;
  color: var(--darkgray);
}

.student-container {
  border-bottom: 1px solid var(--lightgray);
  display: flex;
  flex: row;
}

.expand-btn {
  border: none;
  outline: none;
  margin: 0 0 auto;
  color: var(--darkgray);
  background-color: var(--white);
  font-size: 5rem;
  font-weight: 800;
  padding: 0 1rem;
}
.expand-btn:hover {
  cursor: pointer;
}

.toggle {
  background-color: var(--white);
  width: 50px;
  height: 100%;
}

.grades {
  margin-top: 1rem;
  list-style: none;
}

.tags {
  display: flex;
  flex: row;
  list-style: none;
  min-height: 2rem;
}
.tags li {
  background-color: var(--gray);
  border-radius: 3px;
  padding: 10px;
  height: 100%;
  margin: 5px 5px 0 0;
  vertical-align: middle;
}

.add-tag-input {
  margin-top: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--darkgray);
  padding: 5px;
}
